@keyframes rotate5123 {
  0% {
    transform: rotate( 0 );
  }

  10% {
    width: 6.250em;
    height: 6.250em;
  }

  66% {
    width: 2.4em;
    height: 2.4em;
  }

  100% {
    transform: rotate(360deg);
    width: 6.250em;
    height: 6.250em;
  }
}
@keyframes flash {
  33% {
    opacity: 0;
    border-radius: 0%;
  }

  55% {
    opacity: .6;
    border-radius: 100%;
  }

  66% {
    opacity: 0;
  }
}
@keyframes mainBar_on_scrollAnimatio {
    0% {
      margin-top: -120px;
    }
    100% {
      margin-top: 0;
    }
}
@keyframes dotsY {
  66% {
    opacity: .1;
    width: 2.4em;
  }

  77% {
    opacity: 1;
    width: 0;
  }
}
@keyframes dotsX {
  66% {
    opacity: .1;
    height: 2.4em;
  }

  77% {
    opacity: 1;
    height: 0;
  }
}
@keyframes drop {
	0% {
		transform: translateY(0vh);
	}
	75% {
		transform: translateY(90vh);
	}
	100% {
		transform: translateY(90vh);
	}
}
@keyframes stem {
	0% {
		opacity: 1;
	}
	65% {
		opacity: 1;
	}
	75% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}
@keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-30px);
            transform: translateX(-30px);
  }
}
@keyframes rotate-90-br-cw {
   0% {
	-webkit-transform: skewY(0deg);
            transform: skewY(0deg);
	-webkit-transform-origin: 0px 0px;
            transform-origin: 0px 0px;
  }
  50% {
	-webkit-transform: skewY(1deg);
            transform: skewY(1deg);
	-webkit-transform-origin: 0px 0px;
            transform-origin: 0px 0px;
  }
  100% {
	-webkit-transform: skewY(0deg);
            transform: skewY(0deg);
	-webkit-transform-origin: 0px 0px;
            transform-origin: 0px 0px;
  }
}
@keyframes rotate-center {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}
@keyframes slide-top2 {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-300px);
            transform: translateY(-300px);
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
}
@keyframes ripple-video{
	70%{box-shadow: 0 0 0 20px rgba(0, 0, 0, 0.1);}
	100%{box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);}
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes smooth-up-down {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
}
@keyframes smooth-up-down2 {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
}
@keyframes spinZ {
  0% {
    transform: rotateZ(360deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
@keyframes slide-right {
  0% {
    transform: translateX(-100%) scale(0.2);
  }
  100% {
    transform: translateX(50%) scale(1);
  }
}
@keyframes slide-top-fast {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}
@keyframes scroll-one {
	0% {
		transform: translateX(0);
	}

	100% {
		transform: translateX(-100%);
	}
}
@keyframes scroll-two {
	0% { 
		transform: translateX(0); 
	} 
	100% { 
		transform: translateX(100%); 
	}
}
@keyframes error-ballonanimation {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
}
@keyframes header-scroll-animation {
 0% {
    margin-top: -120px;
  }
  100% {
      margin-top: 0;
  }
}

@keyframes moveCloud {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(100vw);
  }
}
@keyframes text-fade-up {
  from {
    opacity: 0;
    top: -0.5rem;
  }
  to {
    opacity: 1;
    top: 0;
  }
}
@keyframes text-fade-away {
  from {
    opacity: 1;
    top: 0;
  }
  to {
    opacity: 0;
    top: 0;
  }
}
	   
	   
	   