:root {
    --primary: #066168;
    --secondary: #85D200;
    --primary-rgb: 13,110,253;
    
    --primarylight: #ccf2f9;
    --body-color: #346065;
    --body-bgcolor: #EFFFFF;
    --heading-color: #066168;
    --light: #DBEEEE;
}