:root {
    --primary: #1f2758;
    --secondary: #85d200;
    --primary-rgb: 31, 39, 88;

    --primarylight: #ccf2f9;
    --body-color: #346065;
    --body-bgcolor: #efffff;
    --heading-color: #3a55a4;
    --light: #dbeeee;
}