.swiper-button-next, .swiper-button-prev {
    @apply size-14 mx-2.5 mb-3.5 mt-0 text-white bg-citrusyellow transition-all duration-500 ease-in-out rounded-full;
}
.swiper-button-prev {
    @apply left-0;
}
.swiper-button-next {
   @apply right-0;
}
.reviewtwo-slider .swiper-button-prev {
    @apply left-[calc(50%_-_70px)];
}
.reviewtwo-slider .swiper-button-next, .reviewtwo-slider .swiper-button-prev {
    @apply bottom-0 top-auto;
}
.reviewtwo-slider .swiper-button-next {
    @apply right-[calc(50%_-_70px)];
}
.reviewtwo-slider .swiper-button-next, .reviewtwo-slider .swiper-button-prev {
    @apply bottom-0 top-auto;
}
.reviewtwo-slider .swiper-button-next:after, .reviewtwo-slider .swiper-button-prev:after {
   @apply !text-base py-2.5 px-3;
}
.swiper-button-next:hover, .swiper-button-prev:hover {
    @apply bg-white text-citrusyellow shadow-[0px_5px_10px_rgba(0,0,0,0.2)];
}


.trv-tours-st1 .swiper-button-prev {
    @apply left-[calc(50%_-_70px)];
}
.trv-tours-st1 .swiper-button-next, .trv-tours-st1 .swiper-button-prev {
    @apply bottom-0 top-auto;
}

.trv-tours-st1 .swiper-button-next {
    @apply right-[calc(50%_-_70px)];
}

.trv-tours-st1 .swiper-button-next, .trv-tours-st1 .swiper-button-prev {
    @apply bottom-0 top-auto;
}

.trv-tours-st1 .swiper-button-next:after, .trv-tours-st1 .swiper-button-prev:after {
   @apply !text-base py-2.5 px-3;
}
.trv-tours-st1 .swiper-button-next:hover, .trv-tours-st1 .swiper-button-prev:hover {
    @apply bg-white text-citrusyellow shadow-[0px_5px_10px_rgba(0,0,0,0.2)];
}

.testimonial-content-sld .testimonial-content-sld-control{
	@apply absolute right-90 bottom-6.25 w-35 h-15;
}


.testimonial-content-sld .swiper-button-prev {
    @apply left-[calc(50%_-_70px)];
}
.testimonial-content-sld .swiper-button-next, .testimonial-content-sld .swiper-button-prev {
    @apply bottom-0 top-auto;
}

.testimonial-content-sld .swiper-button-next {
    @apply right-[calc(50%_-_70px)];
}

.testimonial-content-sld .swiper-button-next, .testimonial-content-sld .swiper-button-prev {
    @apply bottom-0 top-auto;
}

.testimonial-content-sld .swiper-button-next:after, .testimonial-content-sld .swiper-button-prev:after {
   @apply !text-base py-2.5 px-3;
}
.testimonial-content-sld .swiper-button-next:hover, .testimonial-content-sld .swiper-button-prev:hover {
    @apply bg-white text-citrusyellow shadow-[0px_5px_10px_rgba(0,0,0,0.2)];
}
.testimonial-thum-sld .swiper-slide.swiper-slide-visible.swiper-slide-fully-visible.swiper-slide-active.swiper-slide-thumb-active img, .testimonial-thum-sld .swiper-slide.swiper-slide-visible.swiper-slide-fully-visible.swiper-slide-active img {
    @apply 2xl:ml-[30%];
}
@media (max-width: 991px) {
    .testimonial-content-sld .testimonial-content-sld-control {
        @apply h-auto static;
    }

    .testimonial-content-sld .testimonial-content-sld-control ,.swiper-button-next .testimonial-content-sld-control .testimonial-content-sld .swiper-button-prev {
        @apply mt-0;
    }
	.testimonial-content-sld .swiper-button-prev {
		@apply left-0 !top-1/2;
	}
	.testimonial-content-sld .swiper-button-next {
	   @apply right-0 !top-1/2;
	}
}
.trv-lat-blog-st2 .swiper-button-prev {
    @apply left-[calc(50%_-_70px)];
}
.trv-lat-blog-st2 .swiper-button-next, .trv-lat-blog-st2 .swiper-button-prev {
    @apply bottom-0 top-auto;
}

.trv-lat-blog-st2 .swiper-button-next {
    @apply right-[calc(50%_-_70px)];
}

.trv-lat-blog-st2 .swiper-button-next, .trv-lat-blog-st2 .swiper-button-prev {
    @apply bottom-0 top-auto;
}

.trv-lat-blog-st2 .swiper-button-next:after, .trv-lat-blog-st2 .swiper-button-prev:after {
   @apply !text-base py-2.5 px-3;
}
.trv-lat-blog-st2 .swiper-button-next:hover, .trv-lat-blog-st2 .swiper-button-prev:hover {
    @apply bg-white text-citrusyellow shadow-[0px_5px_10px_rgba(0,0,0,0.2)];
}

.swiper-pagination-bullet {
    @apply size-3.5 my-1.5 mx-1 opacity-100 rounded-full duration-500 bg-white border border-primary;
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
    @apply scale-[.33] relative;
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev-prev {
    @apply scale-[.33];
}
.swiper-pagination-bullet.swiper-pagination-bullet-active {
    @apply bg-citrusyellow border border-citrusyellow;
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev {
	@apply scale-[.66];
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-main {
    @apply scale-[1];
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next {
    @apply scale-[.66];
}

.swiper-pagination {
    @apply mt-7.5 relative;
}
.swiper-pagination-bullets-dynamic {
    @apply overflow-hidden;
}
.trv-tr-cat-swiper .swiper-slide.swiper-slide-active {
    @apply rotate-[0deg] scale-[1];
}

.trv-tour-guide .swiper-button-prev {
    @apply left-[calc(50%_-_70px)];
}
.trv-tour-guide .swiper-button-next, .trv-tour-guide .swiper-button-prev {
    @apply bottom-0 top-auto;
}
.trv-tour-guide .swiper-button-next {
    @apply right-[calc(50%_-_70px)];
}
.trv-tour-guide .swiper-button-next, .trv-tour-guide .swiper-button-prev {
    @apply bottom-0 top-auto;
}
.trv-tour-guide .swiper-button-next:after, .trv-tour-guide .swiper-button-prev:after {
   @apply !text-base py-2.5 px-3;
}
.trv-tour-guide .swiper-button-next:hover, .trv-tour-guide .swiper-button-prev:hover {
    @apply bg-white text-citrusyellow shadow-[0px_5px_10px_rgba(0,0,0,0.2)];
}
.non-swiper-slide {
    @apply hidden;
}

.trv-mf-tour-swiper .swiper-button-next , .trv-mf-tour-swiper .swiper-button-prev{
	@apply top-[44%];
}